<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Upload Result - Forgery Finder</title>
        <link rel="stylesheet" href="/index.css">
        <link rel="icon" href="/favicon.svg">
    </head>
    <body>
        <header class="header">
            <img class="header__logo" src="/favicon.svg" alt="">
            <h1 class="header__title">Forgery Finder</h1>
        </header>
        <main class="content">
            <div class="upload_result">
                <nav class="upload_result__nav">
                    <a href="/" class="upload_result__back back">Back</a>
                </nav>
                <h2 class="upload_result__title">Upload Result</h2>
                <p>Image was uploaded successfully.</p>
            </div>
        </main>
    </body>
</html>
